@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* content */
    --fill-color-dark: 54, 83, 20;
    --fill-color-light: 247, 254, 231;
    /* text */
    --text-color-dark: 26, 46, 5;
    --text-color-light: 247, 254, 231;
    /* navbar */
    --fill-color-nav-selected: 63, 98, 18;
    --border-nav-selected: 236, 252, 203;
  }

  .theme-admin {
    --fill-color-dark: 125, 70, 0;
    --fill-color-light: 247, 254, 231;
    --text-color-dark: 00 00 00;
    --text-color-light: 247, 254, 231;
  }

  .theme-assistant {
    --fill-color-dark: 70, 105, 149;
    --fill-color-light: 247, 254, 231;
    --text-color-dark: 00 00 00;
    --text-color-light: 247, 254, 231;
  }
}
/*
#7d4600 cafe
#466995 azul
*/

/* Header and Footer styles */
.bg-color-mark {
  @apply bg-teal-900 text-slate-100;
}

/* Navlink styles */
.navlink-active {
  @apply p-2 text-center flex-1 bg-teal-800 border-b-4;
}

.navlink-inactive {
  @apply p-2 text-center flex-1;
}

/* Form styles */
.container-input {
  @apply flex flex-col gap-1;
}

.form-input {
  @apply w-72 text-sm px-3 py-2 border rounded-md focus:ring-opacity-40 focus:outline-none focus:ring bg-gray-300 border-gray-400 focus:border-blue-500 focus:ring-blue-400;
}

.form-btn {
  @apply bg-color-mark font-medium hover:bg-teal-700 py-1.5 px-4 border border-teal-900 rounded;
}

/* Table styles */
.table-header {
  @apply bg-color-mark font-medium whitespace-nowrap;
}

.custom-row {
  @apply p-2 first-letter:uppercase;
}

/* start block - warning - those styles are used by method getStyledGivenStatus of utils folder */
.lbl-status {
  @apply font-medium text-xs px-2 rounded-full whitespace-nowrap;
}

.available-status {
  @apply lbl-status text-green-800 bg-green-200;
}

.conservation-status {
  @apply lbl-status text-yellow-800 bg-yellow-100;
}

.non-existent-status {
  @apply lbl-status text-gray-800 bg-gray-300;
}
/* end block */
