@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* content */
    --fill-color-dark: 54, 83, 20;
    --fill-color-light: 247, 254, 231;
    /* text */
    --text-color-dark: 26, 46, 5;
    --text-color-light: 247, 254, 231;
    /* navbar */
    --fill-color-nav-selected: 63, 98, 18;
    --border-nav-selected: 236, 252, 203;
    /* card */
    --gradient-from: 236, 252, 203;
    --gradient-to: 247, 254, 231;
    /* form */
    --fill-color-form: 236, 252, 203;
    --fill-color-btn: 63, 98, 18;
    --fill-color-btn-hover: 77, 124, 15;
  }

  .theme-admin {
    /* content */
    --fill-color-dark: 69, 26, 3;
    --fill-color-light: 255, 251, 235;
    /* text */
    --text-color-dark: 69, 26, 3;
    --text-color-light: 255, 251, 235;
    /* navbar */
    --fill-color-nav-selected: 120, 53, 15;
    --border-nav-selected: 254, 243, 199;
    /* card */
    --gradient-from: 254, 243, 199;
    --gradient-to: 255, 251, 235;
    /* form */
    --fill-color-form: 254, 243, 199;
    --fill-color-btn: 146, 64, 14;
    --fill-color-btn-hover: 180, 83, 9;
  }

  .theme-assistant {
    /* content */
    --fill-color-dark: 12, 74, 110;
    --fill-color-light: 240, 249, 255;
    /* text */
    --text-color-dark: 8, 47, 73;
    --text-color-light: 240, 249, 255;
    /* navbar */
    --fill-color-nav-selected: 7, 89, 133;
    --border-nav-selected: 224, 242, 254;
    /* card */
    --gradient-from: 224, 242, 254;
    --gradient-to: 240, 249, 255;
    /* form */
    --fill-color-form: 186, 230, 253;
    --fill-color-btn: 7, 89, 133;
    --fill-color-btn-hover: 3, 105, 161;
  }
}

/* Form styles globals */
.custom-input-form {
  @apply bg-slate-50 focus:border-skin-focus focus:ring-skin-input focus:ring-opacity-30 focus:outline-none focus:ring text-sm px-3 py-2 border border-slate-300 rounded-lg;
}

.custom-btn-form {
  @apply bg-skin-btn text-skin-light hover:bg-skin-btn-hover font-semibold rounded py-2 px-5 text-sm;
}

.custom-lbl-form-error {
  @apply text-xs text-red-600 font-medium bg-red-100 px-2 rounded-lg w-fit;
}

/* toast styles */
.custom-toast {
  @apply border-4 border-y-0 border-r-0 p-3 text-sm rounded-none;
}

.custom-toast-success {
  @apply bg-lime-50 border-l-lime-600 custom-toast;
}

.custom-toast-error {
  @apply bg-red-50 border-l-red-600 custom-toast;
}

/* start block - warning - those styles are used by method getStyledGivenStatus of utils folder */
.lbl-status {
  @apply font-medium text-xs px-2 rounded-full whitespace-nowrap;
}

.available-status {
  @apply lbl-status text-green-800 bg-green-200;
}

.conservation-status {
  @apply lbl-status text-yellow-800 bg-yellow-100;
}

.non-existent-status {
  @apply lbl-status text-gray-800 bg-gray-300;
}
/* end block */
